.container {
	border: solid crimson;
	float: left;
	overflow: hidden;
}
h2{
	 color:crimson;
	 font-size: 30px;
	 background-color: pink;
	 min-width: 100%;
	 min-height:30px ;
	 text-align:center;
}
.wrapped {
	border:  solid crimson;
	overflow: hidden;}


.footer{ color: white;
	font-size: 40px;
	background-color:pink;
	min-height:30px;
	text-align: center;
	padding: 50px}

h3{
	 color:crimson;
	 background-color: pink;
	 min-width: 60px;	
}
table,th,td{
	border: 1px solid purple;
	border-spacing: 0px;
}